<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Some Website</title>    
    </head>    
    <body>
                {{> header}}

        <h1>currently in making</h1>
        <p>coming soon</p>
      {{> footer}}
    </body>
</html>