<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Some Website</title>    
    </head>    
    <body>
        {{> header}}
        <h1>project page test would go here</h1>
        <p>{{welcome}}</p>
        <p></p>
        {{> footer}}
    </body>
</html>